@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;500&display=swap');

body {
    background: rgb(30, 30, 30);
    color: white;
    font-family: 'Roboto Mono', monospace;
    cursor: default;
}

.center {
    text-align: center;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%)
}

.blue { color: rgb(157, 188, 255) }
        
.head {
    position: absolute;
    top: -100%; left: 50%;
    font-weight: bold;
    font-size: 24px;
    margin-top: 15px;
    transform: translate(-50%,-50%);
}

.imgc { vertical-align: middle }

p.i { 
    font-size: 15px;
    font-family: 'Prompt', sans-serif; 
    font-weight: 100;
}

.icon { display: inline-block }

.header {
    color: white;
    transition: 0.5s;
    filter: brightness(60%);
}

.header:hover {
    color: white;
    transition: 0.5s;
    cursor: pointer;
    filter: brightness(120%);
}

div.icon {
    color: white;
    transition: 0.5s;
}

div.icon:hover {
    color: white;
    transition: 0.5s;
}

img.i {
    margin: 4px;
    transition: 0.5s 
}

img.i:hover { height: 37px }

a { 
    text-decoration: none;
    color: white;
    filter: grayscale(100%);
    transition: 0.5s
}

a:hover {
    filter: grayscale(0%);
    color: rgb(197, 215, 255);
    cursor: pointer;
}

.mobile {
    text-align: center;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%)
}


#ds {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%)
}

@media (max-width: 925px) { .center, .head { display: none } }
@media (min-width: 926px) { .mobile { display: none } }


